@tailwind base;
@tailwind components;
@tailwind utilities;

#home-image {
    position: absolute;
    width: 450px;
    height: 450px;
    right: 140px;
    bottom: 5px;
    background: url('../../public/storage/images/home.png') no-repeat;
    background-size: cover;
}

nav[role="navigation"] p {
    display: none;
}

nav[role="navigation"] span, nav[role="navigation"] a {
    border: none;
    box-shadow: none;
    color: #2457e5;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

.filter-input {
    height: 32px;
}

.bg-white-rgba {
    background: rgba(255, 255, 255, .15);
}

@media screen and (max-width: 640px) {
    #side-menu {
        display: none;
    }

    #page-content {
        margin-left: 0;
    }
}